@import url(http://fonts.googleapis.com/css?family=Gabriela);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);

html,body {
width:100%; height:100%;
}
body {
background:rgb(0,0,0) url(i/bg.jpg) no-repeat 0 0 fixed; background-size:cover; font:400 16px 'Gabriela',arial,sans-serif; color:rgb(85,85,85); float:left;
}

#main-panel {
position:relative; background:transparent;
}
	#main-panel .fx-shadow-overlay {
	width:100%; height:100%; position:absolute; top:0; left:0; min-height:100px; box-shadow:inset 1px 10px 100px rgba(0,0,0,0.47);
	}
	#wrapper {
	width:600px; position:relative; margin:0 auto;
	}
		#brand {
		width:100%; margin:20% 0 0 0; color:rgb(246,255,245); text-shadow:0 0 0 rgb(71,120,0); opacity:0.89; text-align:center;
		}
			#brand .logo {
			font-size:3.5em; width:100%; font-size:3.5em; color:rgb(59,81,66);
			}
			#brand .tagline {
			margin:20% 0 0 0; font-size:1.5em;
			}
				#brand .tagline span {
				font-size:0.5em;
				}
#footer {
background:rgba(86,100,112,0.72); border-top:2px solid rgb(122,139,153); border-bottom:0; color:rgba(246,255,245,0.75); font-size:0.8em; text-align:center; padding-bottom:0;
}
	#footer p {
	margin-bottom:10px;
	}

.panel {
width:100%; float:left; min-height:100px; background:rgba(208,214,219,0.78); border-bottom:1px solid rgba(122,138,153,0.6);
}
	.panel-content {
	width:500px; background:; margin:80px auto; clear:both;
	}
		.panel-content-section {
		width:100%; margin-bottom:60px; padding:10px;
		}
			.panel-content-section a {
			text-decoration:none; color:inherit; font-weight:bold; font-size:0.96em;
			}
				.panel-content-section a:hover {
				text-decoration:underline;
				}
			.panel-content-section p {
			text-align:justify; font:300 1em 'Open Sans',arial,sans-serif; color:rgb(92,97,95); width:100%;
			}
			.panel-content-section p.title {
			text-align:center; font-size:1.05em; font-weight:600; text-transform:uppercase; color:rgb(55,58,57); margin:0 0 20px 0;
			}